
.bgc {
  &-1 {background-color: var(--c-bg-1);}
  &-2 {background-color: var(--c-bg-2);}
  &-3 {background-color: var(--c-bg-3);}

  &-primary-1 {background-color: var(--c-primary-1);}
  &-primary-2 {background-color: var(--c-primary-2);}
  &-primary-3 {background-color: var(--c-primary-3);}

  &-secondary-1 {background-color: var(--c-secondary-1);}
  &-secondary-2 {background-color: var(--c-secondary-2);}
  &-secondary-3 {background-color: var(--c-secondary-3);}

  &-success-1 {background-color: var(--c-success-1);}
  &-success-2 {background-color: var(--c-success-2);}
  &-success-3 {background-color: var(--c-success-3);}

  &-info-1 {background-color: var(--c-info-1);}
  &-info-2 {background-color: var(--c-info-2);}
  &-info-3 {background-color: var(--c-info-3);}

  &-warn-1 {background-color: var(--c-warn-1);}
  &-warn-2 {background-color: var(--c-warn-2);}
  &-warn-3 {background-color: var(--c-warn-3);}

  &-danger-1 {background-color: var(--c-danger-1);}
  &-danger-2 {background-color: var(--c-danger-2);}
  &-danger-3 {background-color: var(--c-danger-3);}

  &-border-1 {background-color: var(--c-border-1);}
  &-border-2 {background-color: var(--c-border-2);}
  &-border-3 {background-color: var(--c-border-3);}
}