

.d {
  &-b {
    display: block;
  }

  &-i {
    display: inline;
  }

  &-ib {
    display: inline-block;
  }

  &-f {
    display: flex;
  }

  &-if {
    display: inline-flex;
  }
}

.f {
  &-dh {
    flex-direction: row;
  }

  &-dhr {
    flex-direction: row-reverse;
  }

  &-dv {
    flex-direction: column;
  }

  &-dvr {
    flex-direction: column-reverse;
  }

  &-ai {
    &-s {
      align-items: flex-start;
    }

    &-c {
      align-items: center;
    }

    &-e {
      align-items: flex-end;
    }
  }

  &-jc {
    &-s {
      justify-content: flex-start;
    }

    &-c {
      justify-content: center;
    }

    &-e {
      justify-content: flex-end;
    }

    &-sb {
      justify-content: space-between;
    }
  }

  &-1 {
    flex: 1;
  }

  &-2 {
    flex: 2;
  }

  &-3 {
    flex: 3;
  }

  &-4 {
    flex: 4;
  }

  &-5 {
    flex: 5;
  }

  &-6 {
    flex: 6;
  }
}
