

body {

  // --color
  & .h\:foo {
    background-color: #f00;
  }

  --c-primary-1: hsla(244, 69%, 35%, 1);
  --c-primary-2: hsla(244, 69%, 35%, 1);
  --c-primary-3: hsla(244, 69%, 35%, 1);
  --c-primary-a10: hsla(244, 69%, 35%, 0.1);
  --c-primary-a20: hsla(244, 69%, 35%, 0.2);
  --c-primary-a30: hsla(244, 69%, 35%, 0.3);
  --c-primary-a40: hsla(244, 69%, 35%, 0.4);

  --c-secondary-1: hsla(351, 63%, 36%, 1);
  --c-secondary-2: hsla(351, 63%, 36%, 1);
  --c-secondary-3: hsla(351, 63%, 36%, 1);
  --c-secondary-a10: hsla(351, 63%, 36%, 0.1);
  --c-secondary-a20: hsla(351, 63%, 36%, 0.2);
  --c-secondary-a30: hsla(351, 63%, 36%, 0.3);
  --c-secondary-a40: hsla(351, 63%, 36%, 0.4);

  --c-success-1: hsla(110, 100%, 17%, 1);
  --c-success-2: hsla(110, 100%, 17%, 1);
  --c-success-3: hsla(110, 100%, 17%, 1);
  --c-success-a10: hsla(110, 100%, 17%, 0.1);
  --c-success-a20: hsla(110, 100%, 17%, 0.2);
  --c-success-a30: hsla(110, 100%, 17%, 0.3);
  --c-success-a40: hsla(110, 100%, 17%, 0.4);

  --c-info-1: hsla(199, 69%, 33%, 1);
  --c-info-2: hsla(199, 69%, 33%, 1);
  --c-info-3: hsla(199, 69%, 33%, 1);
  --c-info-a10: hsla(199, 69%, 33%, 0.1);
  --c-info-a20: hsla(199, 69%, 33%, 0.2);
  --c-info-a30: hsla(199, 69%, 33%, 0.3);
  --c-info-a40: hsla(199, 69%, 33%, 0.4);

  --c-warn-1: hsla(29, 84%, 57%, 1);
  --c-warn-2: hsla(29, 84%, 57%, 1);
  --c-warn-3: hsla(29, 84%, 57%, 1);
  --c-warn-a10: hsla(29, 84%, 57%, 0.1);
  --c-warn-a20: hsla(29, 84%, 57%, 0.2);
  --c-warn-a30: hsla(29, 84%, 57%, 0.3);
  --c-warn-a40: hsla(29, 84%, 57%, 0.4);

  --c-danger-1: hsla(1, 84%, 59%, 1);
  --c-danger-2: hsla(1, 84%, 59%, 1);
  --c-danger-3: hsla(1, 84%, 59%, 1);
  --c-danger-a10: hsla(1, 84%, 59%, 0.1);
  --c-danger-a20: hsla(1, 84%, 59%, 0.2);
  --c-danger-a30: hsla(1, 84%, 59%, 0.4);
  --c-danger-a40: hsla(1, 84%, 59%, 0.4);


  --c-border-1: #ccc;
  --c-border-2: #aaa;
  --c-border-3: #999;


  --c-bg-1: #fff;
  --c-bg-2: #eee;
  --c-bg-3: #a0a0a0;

  // -- border

  --border-radius-xs: 3px;
  --border-radius-sm: 6px;
  --border-radius-nm: 9px;
  --border-radius-md: 12px;
  --border-radius-lg: 15px;
  --border-radius-xl: 18px;

  // -- txt
  --txt-base: 13px;
  font-size: var(--txt-base);


  --c-text-default: #111;
  --c-text-info: #111;
  --c-text-positive: #111;
  --c-text-negative: #111;
  --c-text-warning: #111;
  --c-text-primary: #111;
  --c-text-accent: #111;

  --c-text-light-1: #333;
  --c-text-light-2: #313131;
  --c-text-light-3: #282828;

  --text-size-xs: 0.6em;
  --text-size-sm: 0.8em;
  --text-size-nm: 1em;
  --text-size-md: 1.4em;
  --text-size-lg: 1.8em;
  --text-size-xl: 2.2em;

  // -- Spacing

  --space-null: 0;
  --space-xs: 0.25rem;
  --space-sm: 0.5rem;
  --space-nm: 1rem;
  --space-md: 1.25rem;
  --space-lg: 1.5rem;
  --space-xl: 2rem;
}
