
.btn {
  // normalize
  background-color: #fff;
  border: none;
  display: inline-block;
  text-align: center;

  @extend .cursor-pointer;

  &:hover, &:active, &:focus, &::-moz-focus-inner, &::-moz-focus-outer {
    border: none;
    outline: none;
  }


  &__default {
    border-radius: 3px;

    &.btn--default {
      background-color: var(--c-bg-3);

      &:hover {
        background-color: var(--c-bg-3);
      }
    }

    &.btn--primary {
      background-color: var(--c-primary-1);
      color: #fff;

      &:hover {
        background-color: var(--c-primary-1);
      }
    }

    &.btn--secondary {
      background-color: var(--c-secondary-1);
      color: #fff;

      &:hover {
        background-color: var(--c-secondary-1);
      }
    }

    &.btn--success {
      background-color: var(--c-success-1);
      color: #fff;

      &:hover {
        background-color: var(--c-success-1);
      }
    }

    &.btn--info {
      background-color: var(--c-info-1);
      color: #fff;

      &:hover {
        background-color: var(--c-info-1);
      }
    }

    &.btn--warn {
      background-color: var(--c-warn-1);
      color: #fff;

      &:hover {
        background-color: var(--c-warn-1);
      }
    }

    &.btn--danger {
      background-color: var(--c-danger-1);
      color: #fff;

      &:hover {
        background-color: var(--c-danger-1);
      }
    }

  }

  &__subtle {
    border-radius: 3px;
    background-color: var(--c-bg-2);
    transition: background-color 0.1s ease-in-out;

    &.btn--default {

      &:hover {
        background-color: var(--c-bg-3);
      }
    }

    &.btn--primary {

      &:hover {
        background-color: var(--c-primary-a10);
      }
    }

    &.btn--secondary {

      &:hover {
        background-color: var(--c-secondary-a10);
      }
    }

    &.btn--success {

      &:hover {
        background-color: var(--c-success-a10);
      }
    }

    &.btn--info {

      &:hover {
        background-color: var(--c-info-a10);
      }
    }

    &.btn--warn {

      &:hover {
        background-color: var(--c-warn-a10);
      }
    }

    &.btn--danger {

      &:hover {
        background-color: var(--c-danger-a10);
      }
    }
  }

  &__outlined {
    border-radius: 3px;
    border: 2px solid;
    transition: border-color 0.1s ease-in-out;

    &.btn--default {
      border-color: var(--c-bg-3);
      &.btn--active {
        font-weight: bolder;
      }
      &:hover, &:active, &:focus, &.btn--active {
        border: 2px solid #696969;
      }
    }

    &.btn--primary {

      border-color: var(--c-primary-a40);
      &.btn--active {
        font-weight: bolder;
      }
      &:hover, &:active, &:focus, &.btn--active {
        border: 2px solid;
        border-color: var(--c-primary-1);
      }
    }

    &.btn--secondary {

      border-color: var(--c-secondary-a40);
      &.btn--active {
        font-weight: bolder;
      }
      &:hover, &:active, &:focus, &.btn--active {
        border: 2px solid;
        border-color: var(--c-secondary-1);
      }
    }

    &.btn--success {

      border-color: var(--c-success-a40);
      &.btn--active {
        font-weight: bolder;
      }
      &:hover, &:active, &:focus, &.btn--active {
        border: 2px solid;
        border-color: var(--c-success-1);
      }
    }

    &.btn--info {

      border-color: var(--c-info-a40);
      &.btn--active {
        font-weight: bolder;
      }
      &:hover, &:active, &:focus, &.btn--active {
        border: 2px solid;
        border-color: var(--c-info-1);
      }
    }

    &.btn--warn {

      border-color: var(--c-warn-a40);
      &.btn--active {
        font-weight: bolder;
      }
      &:hover, &:active, &:focus, &.btn--active {
        border: 2px solid;
        border-color: var(--c-warn-1);
      }
    }

    &.btn--danger {

      border-color: var(--c-danger-a40);
      &.btn--active {
        font-weight: bolder;
      }
      &:hover, &:active, &:focus, &.btn--active {
        border: 2px solid;
        border-color: var(--c-danger-1);
      }
    }
  }

  &__text {
    text-decoration: underline;
    padding: 0 var(--space-xs) !important;
    display: inline;

    &.btn--default {
      border-color: var(--c-bg-3);
      &:hover, &:active, &:focus {
      }
    }

    &.btn--primary {
      &:hover, &:active, &:focus {
        text-decoration-color: var(--c-primary-1);
      }
    }

    &.btn--secondary {
      &:hover, &:active, &:focus {
        text-decoration-color: var(--c-secondary-1);
      }
    }

    &.btn--success {
      &:hover, &:active, &:focus {
        text-decoration-color: var(--c-success-1);
      }
    }

    &.btn--info {
      &:hover, &:active, &:focus {
        text-decoration-color: var(--c-info-1);
      }
    }

    &.btn--warn {

      &:hover, &:active, &:focus {
        text-decoration-color: var(--c-warn-1);
      }
    }

    &.btn--danger {
      &:hover, &:active, &:focus {
        text-decoration-color: var(--c-danger-1);
      }
    }
  }


  &--xs {
    @extend .txt-xs;
    @extend .pd-v-xs;
    @extend .pd-h-xs;
  }

  &--sm {
    @extend .txt-sm;
    @extend .pd-v-xs;
    @extend .pd-h-sm;
  }

  &--nm {
    @extend .pd-v-xs;
    @extend .pd-h-sm;
  }

  &--md {
    @extend .txt-nm;
    @extend .pd-v-xs;
    @extend .pd-h-nm;
  }

  &--lg {
    @extend .txt-lg;
    @extend .pd-v-xs;
    @extend .pd-h-md;
  }

  &--xl {
    @extend .txt-xl;
    @extend .pd-v-xs;
    @extend .pd-h-lg;
  }

  &--xxl {
    @extend .txt-xl;
    @extend .pd-v-md;
    @extend .pd-h-xl;
  }

  &--disabled {
    opacity: 0.8;
    filter: grayscale(50%);
    cursor: not-allowed;
  }

  &--active {
  }

  &--group-pos-left {
  }

  &--group-pos-middle {
  }

  &--group-pos-right {
  }
}