




.card {
  @extend .bs-1;
  display: flex;
  flex-direction: column;
  background-color: var(--c-bg-1);
  @extend .mg-b-xl;

  &.tabbed {

    & .title-bar {

      & .tabs {
        display: flex;
        list-style: none;
        margin: 0 0 -1px 0;
        padding: 0;
        border-bottom: 1px solid #ccc;

        & li {
          display: flex;
          @extend .pd-nm;

          & span {
            cursor: pointer;
            color: #111;
          }

          border-bottom: 3px solid rgba(0,0,0,0);
          &.active {
            border-bottom: 3px solid var(--c-primary-1);
            font-weight: bold;
            transition: border-bottom-color 0.2s ease-in-out;
          }
        }
      }
    }

    & .tabbed-animation-wrapper {
      // -- Animations:
      transition: opacity;

      &.tabbed-card-enter {
        opacity: 0.4;
      }
      &.tabbed-card-enter-active {
        opacity: 1;
        transition: opacity 300ms;
      }

      &.tabbed-card-enter-done {
      }

      &.tabbed-card-exit {
        display: none;
      }
      &.tabbed-card-exit-active {
      }

      &.tabbed-card-exit-done {
      }
    }
  }

  &.collapsible {

    & .collapsible-animation-wrapper {
      // -- Animations:

      transition: opacity 100ms ease-in-out, max-height 100ms ease-in-out, transform 100ms ease-in-out;
      overflow: hidden;

      &.collapsible-card-enter {
        max-height: 10000px;
        transform: translateY(0px);
        opacity: 1;
      }
      &.collapsible-card-enter-active {
        max-height: 10000px;
        transform: translateY(0px);
        opacity: 1;
      }

      &.collapsible-card-enter-done {
        max-height: 0;
        transform: translateY(-20px);
        opacity: 0;
      }

      &.collapsible-card-exit {
        max-height: 0;
        transform: translateY(-20px);
        opacity: 0;
      }
      &.collapsible-card-exit-active {
        max-height: 10000px;
        transform: translateY(0px);
        opacity: 1;
      }

      &.collapsible-card-exit-done {
        max-height: 10000px;
        transform: translateY(0px);
        opacity: 1;
      }
    }
  }


  & .title-bar {
    display: flex;
    justify-content: space-between;
    background-color: var(--c-bg-3);

    @extend .b-b-c1;

    & .title {
      @extend .pd-v-sm;
      @extend .pd-h-nm;
      @extend .pd-nm;
      font-size: 1.2em;
    }

    & .top-right {
      @extend .pd-v-sm;
      @extend .pd-h-nm;
    }
  }


  & .body {
    @extend .pd-nm;
  }

  & .actions {
    @extend .pd-sm;
    background-color: var(--c-bg-2);
    display: flex;
    justify-content: flex-end;

  }
}
