




.card {
  @extend .bs-1;
  display: flex;
  flex-direction: column;
  background-color: var(--c-bg-1);

  & .title-bar {
    display: flex;
    justify-content: space-between;
    background-color: var(--c-bg-2);

    @extend .b-b-c1;

    & .title {
      @extend .pd-v-sm;
      @extend .pd-h-nm;
      border-bottom: 1px solid #ccc;
      @extend .pd-nm;
      background-color: darken(#fefefe, 1%);
      font-size: 1.2em;
    }

    & .top-right {
      @extend .pd-v-sm;
      @extend .pd-h-nm;
    }
  }

  & .body {
    @extend .pd-nm;
  }

  & .actions {
    @extend .pd-sm;
    background-color: var(--c-bg-2);
    display: flex;
    justify-content: flex-end;

  }
}
