

@keyframes highlighter {
  0% {filter: brightness(100%)}
  50% {filter: brightness(130%)}
  100% {filter: brightness(100%)}
}


.control-area {
  @extend .pd-v-sm;
  @extend .pd-h-xs;
  color: #eee;
  overflow: hidden;
  @extend .cursor-pointer;
  justify-content: center;
  display: flex;
  flex: 1;

  &:active {
    animation: highlighter 0.2s;
  }

  &--default {
    @extend .bgc-3;
    @extend .txt-default;
  }

  &--primary {
    @extend .bgc-primary-1;
  }

  &--secondary {
    @extend .bgc-secondary-1;
  }

  &--success {
    @extend .bgc-success-1;
  }

  &--info {
    @extend .bgc-info-1;
  }

  &--warn {
    @extend .bgc-warn-1;
  }

  &--danger {
    @extend .bgc-danger-1;
  }
}