
.field {

  &.input-field {
    & .wrapper {
      display: flex;
      flex-direction: column-reverse;
      & .input {
        width: 100%;
        border: none;
        outline: none;
        border-radius: 0px;
        border-bottom: 2px solid #ccc;
        @extend .pd-b-sm;
        @extend .pd-t-xs;
        @extend .mg-b-lg;

      }

      & .input:not(:focus) ~ .label.label--placeholder {
        @extend .txt-nm;
        @extend .txt-l-1;
        margin-top: 20px;
        margin-bottom: -20px;
        margin-left: 5px;
      }


      & .label {
        @extend .txt-sm;
        line-height: 20px;
        display: block;
        z-index: 2;
        transition: all 0.2s ease-in-out;
        pointer-events: none;

        &.label--placeholder {

        }


        &.label--top {
          @extend .txt-sm;
        }
      }
    }

    &.field--invalid {
      & .input {
        border-bottom-color: var(--c-danger-1);
      }
    }
  }

}
