

.pagination-footer {
  display: flex;
  justify-content: flex-end;
  & .prev, .next {
    @extend .mg-h-nm;
  }

  & .ellipsis {
    display: flex;
    align-items: flex-end;
    @extend .pd-sm;
  }

  & .page-select {
    @extend .mg-h-xs;
  }

  & .total {
    display: flex;
    align-items: center;
  }
}
