
.field {

  &.textarea-field {
    & .wrapper {
      display: flex;
      flex-direction: column-reverse;
      & .textarea {

        width: 100%;
        outline: none;
        border-radius: 0px;
        border: 0.4px solid #ccc;
        border-bottom: 2px solid #ccc;
        @extend .pd-sm;
        @extend .mg-b-lg;
        resize: none;

      }

      & .textarea:not(:focus) ~ .label.label--placeholder {
        @extend .txt-nm;
        @extend .txt-l-1;
        margin-top: 20px;
        margin-bottom: -20px;
        margin-left: 5px;
      }


      & .label {
        @extend .txt-sm;
        line-height: 20px;
        display: block;
        transition: all 0.2s ease-in-out;
        pointer-events: none;

        &.label--placeholder {

        }


        &.label--top {
          @extend .txt-sm;
        }
      }
    }

    &.field--invalid {
      & .textarea {
        border-bottom-color: var(--c-danger-1);
      }
    }
  }

}
