

.title {
  font-weight: bolder;
  &-xs {
    font-weight: normal;
    font-size: var(--text-size-xs);
  }

  &-sm {
    font-weight: normal;
    font-size: var(--text-size-sm);
  }

  &-nm {
    font-size: var(--text-size-nm);
  }

  &-md {
    font-size: var(--text-size-md);
  }

  &-lg {
    letter-spacing: 0.1em;
    font-size: var(--text-size-lg);
  }

  &-xl {
    letter-spacing: 0.2em;
    font-size: var(--text-size-xl);
  }
}

